@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    #95a5a6,
    #1a242f
  ); 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.date-picker-input {
  text-align: center;
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.download-button:focus {
  outline: none;
  box-shadow: none;
}

.zoom-in-button:focus,
.zoom-out-button:focus {
  outline: none;
  box-shadow: none;
}

.add-data-button:focus {
  outline: none;
  box-shadow: none;
}
